page-dashboard {
  .fontSize{
    font-size: 14px;
    font-family:"微软雅黑";
  }
  .header{
    background-color: #0bb0f6;
    padding: 15px 4% 3px 4%;
    width: 100%;
  }
  .header .search{
    width:13px;
    position: absolute;
    left:23px;
    top:21px;
    z-index:100;
  }
  .header .mike{
    width:16px;
    position: absolute;
    left:69%;
    top:18px;
  }
  .header-input{
    background-color: #0aa2e2;
    font-size: 12px;
    color: #fff;
    padding: 3px 26px;
    width: 95%;
  }
  .text-input-ios{
    margin: 0!important;
  }
  .text-input-md{
    margin: 0!important;
  }
  .text-input::-moz-placeholder {
    color: #fff;
  }
  .text-input:-ms-input-placeholder {
    color: #fff;
  }
  .text-input::-webkit-input-placeholder {
    color: #fff;
  }
  .header-left{
    float: left;
    width: 82%;
  }
  .header-right{
    float: left;
  }
  .addressBook{
    width: 22px;
  }
  .square-red{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    margin-left: 23px;
    top: 15px;
  }
  .add{
    width: 21px;
    margin: 0 0 1px 5px;
  }
  .clear{
    clear: both;
  }
  .header-function{
    margin-top: 10px;
  }
  .header-function img{
    width: 25px;
  }
  .header-function div{
    margin-top: 3px;
    color: #fff;
    font-size: 12px;
  }
  .content-function img{
    width: 25px;
  }
  .content-function div{
    margin-top: 3px;
    font-size: 12px;
  }
  .row-10{
    margin-top: 10px;
  }
  .line-10{
    width: 100%;
    height: 10px;
    background-color: #f5f5f5;
  }
  .alert{
    width: 100%;
    padding: 0 1%;
  }
  .alert-img{
    width: 70px;
    height: 70px;
    float: left;
  }
  .square-black{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    float: left;
    margin: 6px 5px 0 0;
  }
  .alert-info{
    float: left;
    font-size:13px;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .alert-time{
    color: #d4d4d4;
    float: left;
    margin-left: 3%;
    font-size: 13px;
  }
  .margin-top-5{
    margin-top: 5px;
  }
  .alert-center{
    float: left;
    padding: 16px 0;
    width: 63%;
  }
  .alert-right{
    float: right;
  }
  .alert-square-red{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin: 26px 0 24px 20px;
  }
  .alert-go{
    width:15px;
    margin: 23px 1px 21px -5px;
    display: inline-block;
  }
   .swiper-pagination-bullet {
    display: inline-block;
    margin: 0px 3px;
    width: 8px;
    border-radius: 0;
    height: 5px;
    color: #f8f8f8;
    font-size: 10px;
  }
  .swiper-pagination-bullet-active{
    width: 12px!important;
  }
  .banner{
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
  }
  .slide-zoom{
    height: 80px;
  }
  .line-blue{
    height: 12px;
    width: 4px;
    background-color: #2c93d8;
    display: inline-block;
    margin-top: 2px;
    margin-right: 3px;
  }
  .payment-header{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  .payment-content{
    padding: 0;
  }
  .payment-content-packet{
    border-right: 1px solid #eee;
    padding: 20px 2%;
  }
  .payment-content-font{
    float: left;
    text-align: center;
    width: 60%;
  }
  .payment-content-font-top{
    font-weight: bold;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .payment-content-font-bottom{
    font-size: 13px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .payment-content-img{
    float:right;
    width: 40%;
  }
  .payment-content-cash{
    padding: 20px 2%;
  }
  .day-header{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  .day-header-left{
    width: 30%;
    text-align: left;
    display: inline-block;
    padding-left: 3%;
  }
  .day-header-right{
    width: 68%;
    text-align: right;
    display: inline-block;
    padding-right: 2%;
  }
  .day-header-right img{
    width: 15px;
    position: relative;
    top: 4px;
  }
  .day-header-right span{
    color: #b2b2b2;
    font-size: 13px;
  }
  .goods-row{
    border-bottom: 1px solid #f6f6f6;
  }
  .goods-row ion-col{
    padding: 10px 5px;
  }
  .goods-img{
    width: 60px;
  }
  .goods-title{
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
  }
  .goods-content{
    color: #979797;
    font-size: 12px;
    margin-top: 5px;
  }
  .goods-content span{
    color:red;
  }
  .more-goods{
    padding: 10px 3%;
  }
  .more-goods span{
    float: left;
  }
  .more-goods img{
    float: right;
    width: 15px;
    margin-top: 2px;
  }
  .bottom-line{
    padding: 30px 0;
    text-align: center;
    background-color: #f5f5f5;
  }
  .bottom-line span{
    font-size: 13px;
  }
  .bottom-line div{
    height: 1px;
    background-color: #dcdcdc;
    width: 20%;
    display: inline-block;
    margin-bottom: 4px;
    opacity:0.4;
  }
  .badge-ios-danger{
    background-color: #ff3f3e!important;
  }
}
